/* chỉnh cái đáy*/
.bottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 12px;
}

.footer a {
  transition: color 0.3s ease, text-decoration 0.3s ease;
  color: black !important; 
  font-size: 14px;
  
}

/* Chuyển màu các link khi mà hover */
.footer a:hover {
  color: #007bff !important; 
  text-decoration: underline !important; /* Gạch chân */
}
/*chỉnh màu cho link social*/
.footer .Social ul li a:hover {
  color: #17a2b8 !important; 
}

h5{
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  
}

